.Home{
    padding-top: 100px;
   width: 100vw;
   .m-btn{
    position: fixed;
    right: 20px;
    
    bottom: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding: 20px;
    align-items: center;
    justify-self: center;
   }
}