@import '../../mixins.scss';



.content{
 display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    .wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .left{
            margin-right: 100px;
            // width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 400px;
            }
            @include md-x{
                display: none;
            }
        }
        .right{
                padding: 30px;
                background-color: white;
                border-radius: 10px ;
                width: 400px;
                box-shadow: 0 0 10px 0;
            form{
                h1{
                    font-size: 20px;

                }
               .form-contain{
                display: flex;
                justify-content: left;
                align-items: flex-start;
                flex-direction: column;
                margin: 10px 0;
                label{
                    font-size: 15px;
                    font-weight: 600;

                }
                input{
                    width: 100%;
                    padding: 10px 5px;
                    background-color: transparent;
                    font-size: 15px;
                    border: 1px solid rgb(27, 27, 27,0.5);
                    outline: none;
                    color: black;
                    border-radius: 10px;
                }
                .pass{
                    position: relative;
                    width: 100%;
                    .eye,.eyeslash{
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(-50%,-50%);
                        cursor: pointer;
                    }
                }
               
            }
            .btn{
                background-color: var(--black);
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                color: white;
                cursor: pointer;
            }
            p  span{
                color: blueviolet;
                text-decoration: underline;
                cursor: pointer;
            }
            }
        }

    }
}